---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import ThemeWrapper from '../components/common/ThemeWrapper';

export interface Props {
  title: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  lang?: string;
  headerTransparent?: boolean;
}

const {
  title,
  description,
  image,
  noindex,
  lang,
  headerTransparent = false
} = Astro.props;
---

<BaseLayout 
  title={title}
  description={description}
  image={image}
  noindex={noindex}
  lang={lang}
>
  <ThemeWrapper client:load>
    <Header transparent={headerTransparent} />
    <main>
      <slot />
    </main>
    <Footer />
  </ThemeWrapper>
</BaseLayout>

<style>
  main {
    min-height: calc(100vh - 80px);
  }
</style>
