---
import BaseLayout from './BaseLayout.astro';
import Header from '../navigation/Header.astro';
import Footer from '../navigation/Footer.astro';
import TurnstileWrapper from '../components/providers/TurnstileWrapper.astro';

export interface Props {
  title: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  lang?: string;
  headerTransparent?: boolean;
}

const {
  title,
  description,
  image,
  noindex,
  lang,
  headerTransparent = false
} = Astro.props;
---

<BaseLayout 
  title={title}
  description={description}
  image={image}
  noindex={noindex}
  lang={lang}
>
  <TurnstileWrapper>
    <Header transparent={headerTransparent} />
    <main>
      <slot />
    </main>
    <Footer />
  </TurnstileWrapper>
</BaseLayout>

<style>
  main {
    min-height: calc(100vh - 80px);
  }
</style>
